.highlight{
	background-color: #d7d2cf !important;
}

.selected{
	background-color: #b7aea9 !important;
}

.dialog{
	background-color: #ffffff;
	border-style: solid;
    border-width: 1px;
}


.bodyContent{
	margin:0 auto;
	padding: 10px;
	width: 1000px;
}

body {
	background-image: url('tile.png') !important;
}




